@import url('https://fonts.googleapis.com/css?family=Alegreya|Amatic+SC|Caveat|Rubik+Mono+One|Homemade+Apple|Indie+Flower|Permanent+Marker');

/* Шрифты текста
font-family: 'Amatic SC', cursive;
font-family: 'Alegreya', serif;
font-family: 'Caveat', cursive;
font-family: 'Rubik Mono One', sans-serif;
*/

/* Шрифты ввода чисел
font-family: 'Permanent Marker', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Homemade Apple', cursive;
*/

/* colours 
#22050
#4a0419
#911723
#fb0720
#16adad

#000010
#cacac8
#ffffff
#b6846b
#f73149
 */


body{
    background-color: #fff;
    margin: 1px;
    padding: 1px;
    font-family: 'Alegreya', serif;
    color: #000000;
    
}

a{
    font-family: 'Alegreya', serif;
    /* color: #4a0419; */
    text-decoration: none;
}

/* header  Шапкак сайта (черная)*/ 

header{
    width: auto;
    height: auto;
    font-size: 3em;
    color: #fff;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 35px;
    background-color: #000;

}

/* 



calculator Окна вычисления




*/

#typetrain{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

#typetrain1{
    float: left;
    width: 98%;
    height: 375px;
    margin: 1%;
    padding-bottom: 15px;
    border: 5px solid #fff;
    border-radius: 35px;
    background-color: gray;
}

#trainstat1{
    float: left;
    width: auto;
    margin-left: 7%;
}

#traindata1{
    float: left;
    width: auto;
    margin-left: 7%;
}

#inputdata{
    margin: 0px;
    padding: 0px;
    float: top;
}

input{
    font-family: 'Indie Flower', cursive;
    font-size: larger;
}

::placeholder{
    font-family: 'Alegreya', serif;
    font-size: 25px;
}

#n1, #n2, #n3, n4{
    width: 250px;
    height: 40px;
}

#traincalc1{
    float: left;
    width: auto;
    margin-left: 7%;
}


#typetrain2{
    float: left;
    width: 98%;
    height: auto;
    margin: 1%;
    border: 5px solid #fff;
    border-radius: 35px;
    background-color: gray;
}

#trainstat2{
    float: left;
    width: auto;
    margin-left: 7%;
}

#traindata2{
    float: left;
    width: auto;
    margin-left: 7%;
}

#traincalc2{
    float: left;
    width: auto;
    margin-left: 7%;
}

#train{
    font-size: 2.5em;
    color: #fff;
}

#btn{
    font-family: 'Alegreya', serif;
    width: 200px;
    height: 50px;
    background-color: #fff;
    font-size: 25px;
    color: #000;
}

#out1, #out2{
    font-size: 75px;
    font-family: 'Indie Flower', cursive;
}

/* 


footer подвал


*/

footer{
    /* position: fixed;
    bottom: 0px;
    right: 0px; */
    float: left;
    background-color: #fb0720;
    width: 98%;
    height: auto;
    margin: 1%; 
    font-family: 'Rubik Mono One', sans-serif;
    border: 5px solid #fff;
    border-radius: 10px;
    background-color: gray;
}

#footer{
    width: 50%;
    float: left;
    font-size: 15px;
}

#vu45{
    float: right;
    width: auto;
    height: auto;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
}

img{
    height: 25px;
    width: auto;
}

#sociallogo{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
#logofooter{
    margin-right: 10px;
}

#contack{
    float: right;
    width: auto;
    /* width: 250px; */
    margin-right: 10px;
    margin-top: 13px;
    font-size: 10px;
    color: #16adad;
}

