@import url('https://fonts.googleapis.com/css?family=Alegreya|Amatic+SC|Caveat|Rubik+Mono+One');

/*font-family: 'Amatic SC', cursive;
font-family: 'Alegreya', serif;
font-family: 'Caveat', cursive;
font-family: 'Rubik Mono One', sans-serif;*/

/* colours 
#22050
#4a0419
#911723
#fb0720
#16adad

#000010
#cacac8
#ffffff
#b6846b
#f73149
 */


body{
    background-color: #16adad;
    margin: 1px;
    padding: 1px;
    font-family: 'Alegreya', serif;
    color: #220500;
}

a{
    font-family: 'Alegreya', serif;
    color: #4a0419;
    text-decoration: none;
}

/* header */

header{
    width: auto;
    height: auto;
    font-size: 3em;
    text-align: center;
    border-bottom: 5px double;
}

/* calculator */

#typetrain{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

#typetrain1{
    float: left;
    background-color: #fb0720;
    width: 48.5%;
    height: 250px;
    margin-left: 1%;
    margin-right: 0.5%;
}

#trainstat1{
    float: left;
    width: auto;
    margin-left: 50px;
}

#traindata1{
    float: left;
    width: auto;
    margin-left: 45px;
}

#traincalc1{
    float: left;
    width: auto;
    margin-left: 50px;
}


#typetrain2{
    float: right;
    background-color: #fb0720;
    width: 48.5%;
    height: 250px;
    margin-left: 0.5%;
    margin-right: 1%;
}

#trainstat2{
    float: left;
    width: auto;
    margin-left: 50px;
}

#traindata2{
    float: left;
    width: auto;
    margin-left: 75px;
}

#traincalc2{
    float: left;
    width: auto;
    margin-left: 50px;
}

#train{
    font-size: 2em;
}

#btn{
    font-family: 'Alegreya', serif;
}

::placeholder{
    font-family: 'Alegreya', serif;
}

/* footer */

footer{
    float: left;
    background-color: #fb0720;
    width: 98%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%; 
    font-family: 'Rubik Mono One', sans-serif;
    border: 2px dotted #ffffff;
}

#footer{
    width: 50%;
    float: left;
    font-size: 15px;
}

#vu45{
    float: right;
    width: auto;
    height: auto;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
}

img{
    height: 25px;
    width: auto;
}

#sociallogo{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
#logofooter{
    margin-right: 10px;
}

#contack{
    float: right;
    width: auto;
    /* width: 250px; */
    margin-right: 10px;
    margin-top: 13px;
    font-size: 10px;
    color: #16adad;
}
