body{
    height: 100%;
    width: 100%;
    background-color: blue;
    color: red;
    text-align: center;
    font-size: 8px;
    margin: 0px;
    padding: 0px;
}

#test{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: auto;
    background-color: #000;
}

#test1{
    width: 100px;
    height: 10px;
    background-color: #fff;
    margin: 0px;
    margin-top: 5px;
}

#test2{
    margin: 0px;
    width: 200px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test3{
    margin: 0px;
    width: 300px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

/* #test310{
    margin: 0px;
    width: 310px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test325{
    margin: 0px;
    width: 325px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test330{
    margin: 0px;
    width: 330px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test340{
    margin: 0px;
    width: 340px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
} */

#test350{
    margin: 0px;
    width: 350px;
    height: 10px;
    background-color: #fff;
    margin-top: 2px;
}

#test351{
    margin: 0px;
    width: 351px;
    height: 10px;
    background-color: #fff;
    margin-top: 2px;
}
#test352{
    margin: 0px;
    width: 352px;
    height: 10px;
    background-color: #fff;
    margin-top: 2px;
}
#test353{
    margin: 0px;
    width: 353px;
    height: 10px;
    background-color: #fff;
    margin-top: 2px;
}
#test354{
    margin: 0px;
    width: 354px;
    height: 10px;
    background-color: #fff;
    margin-top: 2px;
}

#test355{
    margin: 0px;
    width: 355px;
    height: 10px;
    background-color: #fff;
    margin-top: 2px;
}

#test356{
    margin: 0px;
    width: 356px;
    height: 10px;
    background-color: #fff;
    margin-top: 2px;
}
#test357{
    margin: 0px;
    width: 357px;
    height: 10px;
    background-color: #fff;
    margin-top: 2px;
}
#test358{
    margin: 0px;
    width: 358px;
    height: 10px;
    background-color: #fff;
    margin-top: 2px;
}
#test359{
    margin: 0px;
    width: 359px;
    height: 10px;
    background-color: #fff;
    margin-top: 2px;
}

#test360{
    margin: 0px;
    width: 360px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test361{
    margin: 0px;
    width: 361px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}
#test362{
    margin: 0px;
    width: 362px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}
#test363{
    margin: 0px;
    width: 363px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}
#test364{
    margin: 0px;
    width: 364px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test365{
    margin: 0px;
    width: 365px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test366{
    margin: 0px;
    width: 366px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}
#test367{
    margin: 0px;
    width: 367px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}
#test368{
    margin: 0px;
    width: 368px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}
#test369{
    margin: 0px;
    width: 369px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}
/* #test370{
    margin: 0px;
    width: 370px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}
#test375{
    margin: 0px;
    width: 375px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test380{
    margin: 0px;
    width: 380px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test390{
    margin: 0px;
    width: 390px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test4{
    margin: 0px;
    width: 400px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test410{
    margin: 0px;
    width: 410px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test425{
    margin: 0px;
    width: 425px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test430{
    margin: 0px;
    width: 430px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test440{
    margin: 0px;
    width: 440px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test450{
    margin: 0px;
    width: 450px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test460{
    margin: 0px;
    width: 460px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test475{
    margin: 0px;
    width: 475px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test480{
    margin: 0px;
    width: 480px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test490{
    margin: 0px;
    width: 490px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test5{
    margin: 0px;
    width: 500px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test6{
    margin: 0px;
    width: 600px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test610{
    margin: 0px;
    width: 610px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test625{
    margin: 0px;
    width: 625px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test630{
    margin: 0px;
    width: 630px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test640{
    margin: 0px;
    width: 640px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test650{
    margin: 0px;
    width: 650px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test660{
    margin: 0px;
    width: 660px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test665{
    margin: 0px;
    width: 665px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test675{
    margin: 0px;
    width: 675px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test680{
    margin: 0px;
    width: 680px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test690{
    margin: 0px;
    width: 690px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test7{
    margin: 0px;
    width: 700px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test710{
    margin: 0px;
    width: 710px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test725{
    margin: 0px;
    width: 725px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test730{
    margin: 0px;
    width: 730px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test740{
    margin: 0px;
    width: 740px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test750{
    margin: 0px;
    width: 750px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test760{
    margin: 0px;
    width: 760px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test765{
    margin: 0px;
    width: 765px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test775{
    margin: 0px;
    width: 775px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test780{
    margin: 0px;
    width: 780px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test790{
    margin: 0px;
    width: 790px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test8{
    margin: 0px;
    width: 800px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test810{
    margin: 0px;
    width: 810px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test825{
    margin: 0px;
    width: 825px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test830{
    margin: 0px;
    width: 830px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test840{
    margin: 0px;
    width: 840px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test850{
    margin: 0px;
    width: 850px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test860{
    margin: 0px;
    width: 860px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test865{
    margin: 0px;
    width: 865px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test875{
    margin: 0px;
    width: 875px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test880{
    margin: 0px;
    width: 880px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test890{
    margin: 0px;
    width: 890px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
}

#test9{
    margin: 0px;
    width: 900px;
    height: 10px;
    background-color: #fff;
    margin-top: 5px;
} */
